.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a { 
    color: hsl(228, 45%, 44%);
}

:root {

    --font: 14px;

    --first: hsl(163, 72%, 41%);
    --second: hsl(356, 69%, 56%);

    /* Social Media Icons */
    --facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --Youtube: hsl(348, 97%, 39%);

    --toggle-dark: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --toggle-light: hsl(230, 22%, 74%);

    /* Dark theme */
    --Very-Dark-Blue: hsl(230, 17%, 14%);
    --Very-Dark-Blue: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
    

    /* Text Dark */
    --Desaturated-Blue: hsl(228, 34%, 66%);
    --White: hsl(0, 0%, 100%);

    /* Light theme */
    --White: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(225, 100%, 98%);
    --Light-Grayish-Blue: hsl(227, 47%, 96%);
    

    /* Light Text */
    --Dark-Grayish-Blue: hsl(228, 12%, 44%);
    --Very-Dark-Blue: hsl(230, 17%, 14%);

    /* font */
    --weight-1: 400;
    --weight-2: 600;

}

h1, h3, p {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font);
    font-family: "Inter", sans-serif;
    font-weight: var(--weight-1);
    color: var(--Dark-Grayish-Blue);
}

.wrapper {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: 10px;
}

nav {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

nav h1 {
    font-size: 25px;
    color: var(--Very-Dark-Blue);
    padding-bottom: 10px;
}

.nav-toggle {
    width: 100%;
    display: flex;
    align-items: center;
}

.divider {
    display: none;
    color: var(--Dark-Grayish-Blue);
    width: 100%;
    margin: 20px 0px;
}

.toggle-switch {
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    background: var(--toggle-light);
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-switch::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: var(--White);
    transition: 0.3s;
}

.input-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.input-toggle:checked + label {
    background: var(--toggle-dark);
}

.input-toggle:checked + .toggle-switch::after {
    left: calc(100% - 18px); 
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(min(18rem, 100%), 1fr));
    padding: 10px 0px;
}

.grid-item {
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-top: 4px solid var(--facebook);
    padding: 20px;
}

.twitter {
    border-top: 4px solid var(--Twitter);
}

.instagram {
    border-top: 4px solid var(--Twitter);
}

.youtube {
    border-top: 4px solid var(--Youtube);
}

.youtube .social-increase {
    color: var(--second);
}

.social-tag {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 10px;
}

.social-count {
    font-size: 80px;
    font-weight: var(--weight-2);
    color: var(--Very-Dark-Blue);
}

.social-followers {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 20px;
    padding-bottom: 20px;
}

.social-increase {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-weight: var(--weight-2);
    color: var(--first);
}

.metrics-views {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metrics-grid > h3 {
    grid-column: 1 / -1;
    font-size: 25px;
}

/* media queries */
@media (max-width: 375px), (max-width: 600px) {
    .wrapper {
        padding: 20px;
    }
    nav {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 30px;
    }
    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .divider {
        display: block;
    }
  }